@use "variables";

.introduce {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$cl-white;
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    align-items: flex-start;
    h2 {
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      font-size: 7vw;
      padding-left: 16px;
      letter-spacing: -0.02em;
    }
  }
  .content {
    margin-top: 8rem;
    p {
      font-size: variables.$fs-300;
      line-height: 1.5;
      span {
        font-size: variables.$fs-700;
        line-height: 1;
      }
      strong {
        font-size: variables.$fs-600;
      }
    }
  }
}
