@use "variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style: none;
}

main {
  width: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  color: $cl-black;
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: black;
}
